.description {
  margin: auto;
  margin-top: 18px;
  max-width: 700px;

  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

.list {
  display: inline-block;

  margin: 20px;
  padding-left: 20px;

  text-align: left;

  & ol {
    margin-bottom: 5px;
  }

  & li {
    padding: 5px;
  }
}

.highlight {
  transition:
    color var(--default-delay),
    background-color var(--default-delay),
    border var(--default-delay);

  margin: 0;
  border-radius: 3px;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;

  background-color: var(--color-neutral-muted);

  font-size: 90%;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;

  &::before,
  &::after {
    letter-spacing: -0.2em;

    content: '\00a0';
  }
}
