.description {
  margin: auto;
  margin-top: 18px;
  text-align: left;
  max-width: 700px;
  font-size: 18px;
  font-: 18px;
  font-weight: 600;
}

.list {
  margin: 20px;
  padding-left: 20px;
  display: inline-block;
  text-align: left;

  & ol {
    margin-bottom: 5px;
  }
}
.highlight {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 90%;
  background: var(--color-fg);
  color: var(--color-bg);
  opacity: 0.7;
  border-radius: 3px;

  &:before,
  &:after {
    letter-spacing: -0.2em;
    content: '\00a0';
  }
}
