.top_link {
  position: fixed;
  bottom: 1.4rem;
  right: 1.4rem;

  display: flex;
  opacity: 0;
  transform: scale(0);

  transition:
    opacity 0.2s ease-out,
    transform 0.2s ease-in-out,
    fill var(--default-delay),
    color var(--default-delay),
    background-color var(--default-delay);

  border: none;
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;

  background-color: var(--color-fg);
  cursor: pointer;

  & svg {
    width: 2.8rem;
    height: 2.8rem;
    fill: var(--color-bg);
  }

  &.active {
    opacity: 1;
    transform: scale(1);
  }
}
