.content__text {
  margin: 15px 0;

  font-size: 1.5rem;
  font-weight: 600;
}

.content__link {
  outline-offset: 1rem;
  margin: 1rem;
  border-bottom: none;

  line-height: 3rem;

  &:active {
    top: 2px;
    left: 2px;
  }
}

.content__icon {
  fill: var(--color-fg);

  &:hover,
  &:focus,
  &:active {
    fill: var(--accent-color);
  }
}
