.status_code {
  line-height: 1.4;
  margin-bottom: 20px;
  font-size: 4rem;

  @media only screen and (max-width: 768px) {
    .status_code {
      margin-bottom: 16px;
      font-size: 2rem;
    }
  }
}

.backhome {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 26px;
  cursor: pointer;
  outline: none;
  padding: 10px 25px;
  border: 2px solid var(--color-fg);
  display: inline-block;
  position: relative;
  margin: 0 auto;

  color: var(--color-bg);
  background: var(--color-fg);
  transition: all 0.4s ease-in-out;

  @media only screen and (max-width: 768px) {
    .backhome {
      font-size: 20px;
    }
  }
}

.backhome:hover {
  color: var(--color-fg);
  background: var(--color-bg);
}
