:root {
  --color-fg: #000;
  --color-bg: #fff;
  --color-border: #d0d7de;
  --color-canvas: #f6f8fa;
  --accent-color: #ff4d4d;
  --default-delay: 0.1s;
}

[data-theme='dark'] {
  --color-fg: #fff;
  --color-bg: #000;
  --color-border: #30363d;
  --color-canvas: #0d1117;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  font-weight: 500;

  text-align: center;
  text-rendering: optimizelegibility;

  height: 100%;
  width: 100%;

  color: var(--color-fg);
  background-color: var(--color-bg);

  /* for a smooth theme change */
  transition: color var(--default-delay), background var(--default-delay);
}
