:root {
  --color-fg: rgb(13 17 23);
  --color-bg: rgb(246 248 250);
  --color-border: rgb(208 215 222);
  --color-canvas: rgb(255 255 255);
  --accent-color: rgb(224 0 0);
  --default-delay: 0.5s;
}

[data-theme='dark'] {
  --color-fg: rgb(201 209 217);
  --color-bg: rgb(1 4 9);
  --color-border: rgb(48 54 61);
  --color-canvas: rgb(13 17 23);
  --accent-color: rgb(255 77 77);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;

  height: 100%;
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 500;

  text-align: center;
  text-rendering: optimizelegibility;

  color: var(--color-fg);
  background-color: var(--color-bg);

  /* for a smooth theme change */
  transition: all var(--default-delay);
}

::selection {
  background-color: var(--color-fg);
  color: var(--color-bg);
}

/* stylelint-disable-next-line */
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.js-focus-visible .focus-visible {
  outline: 3px solid var(--accent-color);
}
