.person {
  margin: auto;
  margin-top: 18px;
  margin-bottom: 5px;
  width: 100%;
  max-width: 300px;
  padding-left: 12px;

  text-align: left;

  @media only screen and (max-width: 300px) {
    margin-right: 0;
    margin-left: 0;
    padding: 0;
  }
}

.avatar {
  position: relative;
  top: 5px;

  border-radius: 30px;
  object-fit: cover;
}

.list {
  display: inline-block;

  margin: 20px;
  padding-left: 20px;

  text-align: left;

  & li {
    margin-bottom: 5px;
  }

  @media only screen and (max-width: 300px) {
    margin-right: 0;
    margin-left: 0;
    padding: 0;
  }
}
