.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  padding: 0 2rem;

  @media only screen and (max-width: 768px) {
    padding: 0 1rem;
  }
}

.main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;

  @media only screen and (max-width: 768px) {
    padding: 1rem 0;
  }
}

/* Link styles */
.main a {
  color: inherit;
  text-decoration: none;
  font-style: italic;
  border-bottom: 0.5px solid var(--color-fg);
  transition: border var(--default-delay);
}
.main a:hover {
  color: var(--accent-color);
  border-bottom: 0.5px solid var(--accent-color);
}
.main a:active {
  position: relative;
  border-bottom: none;
  top: 2px;
  left: 2px;
}
