.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  padding: 0 2rem;

  @media only screen and (max-width: 768px) {
    padding: 0 1rem;
  }
}

.main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;

  @media only screen and (max-width: 768px) {
    padding: 1rem 0;
  }

  /* Link styles */
  & a {
    color: inherit;
    font-style: italic;
  }
  & a:hover {
    color: var(--accent-color);
  }
  & a:active {
    color: var(--accent-color);
    text-decoration: none;
    position: relative;
    top: 2px;
    left: 2px;
  }
}
