.backhome_button {
  position: relative;

  display: inline-block;

  transition:
    color var(--default-delay) ease-in-out,
    background-color var(--default-delay) ease-in-out,
    border var(--default-delay) ease-in-out !important;

  outline: none;
  margin: 0 auto;
  border: 2px solid var(--color-fg) !important;
  padding: 10px 25px;

  background-color: var(--color-fg) !important;
  cursor: pointer;

  font-size: 2rem;
  font-style: normal !important;
  text-decoration: none;
  color: var(--color-bg) !important;

  &:hover,
  &:focus {
    border: 2px solid var(--color-fg) !important;

    background-color: var(--color-bg) !important;

    color: var(--color-fg) !important;
  }

  @media only screen and (max-width: 768px) {
    font-size: 1.3rem;
  }
}
