.content__title {
  margin: 15px 0;

  font-size: 2rem;
  font-weight: 700;
}

.content__subtitle {
  margin: 10px 0;

  font-size: 1.4rem;
  font-weight: 500;
}

.content__description {
  margin: 20px 0;

  font-size: 1rem;
  font-style: italic;
}
