.form {
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  display: flex;
}

.form * {
  transition:
    color var(--default-delay),
    background-color var(--default-delay),
    border var(--default-delay);
}

.form__label {
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  display: flex;

  margin-top: 2rem;
  margin-bottom: 1rem;
  border: 2px dashed var(--color-border);
  border-radius: 12px;
  min-width: 5rem;
  width: 100%;
  max-width: 50rem;
  min-height: 10rem;
  height: 40vh;
  max-height: 30rem;

  background-color: var(--color-canvas);
  cursor: pointer;

  color: var(--color-fg);

  &:hover,
  &:focus {
    border-color: var(--accent-fg);
  }
}

.drop__title {
  margin-bottom: 20px;

  cursor: pointer;

  font-size: 20px;
  font-weight: bold;
  color: var(--color-fg);
}

.form__input {
  transition: color var(--default-delay), background-color var(--default-delay);

  margin-top: 12px;
  width: 95%;
  max-width: 18rem;

  cursor: pointer;

  font-size: 16px;
}

.form__input::file-selector-button {
  transition:
    color var(--default-delay),
    background-color var(--default-delay),
    border var(--default-delay);

  margin-right: 1rem;
  border: 3px solid var(--color-canvas);
  border-radius: 10px;
  padding: 10px 20px;

  background-color: var(--color-fg);

  color: var(--color-bg);
}
