.form {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form * {
  transition:
    color var(--default-delay),
    background-color var(--default-delay),
    border var(--default-delay);
}

.form__label {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 5rem;
  width: 100%;
  max-width: 50rem;
  height: 16rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 12px;
  border: 2px dashed var(--color-border);
  color: var(--color-fg);
  background-color: var(--color-canvas);
  cursor: pointer;
}

.drop__title {
  color: var(--color-fg);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
}

.form__input {
  font-size: 16px;
  cursor: pointer;
  margin-top: 12px;
  width: 95%;
  max-width: 18rem;
  transition: color var(--default-delay), background-color var(--default-delay);
}

.form__input::file-selector-button {
  margin-right: 1rem;
  border: 2px solid var(--color-bg);
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--color-bg);
  background-color: var(--color-fg);
  transition:
    color var(--default-delay),
    background-color var(--default-delay),
    border var(--default-delay);

  &:hover,
  &:focus {
    border: 2px solid var(--accent-color);
  }
}
