.navbar {
  transition: border var(--default-delay);
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar__logo {
  color: inherit;
  font-weight: 700;
  font-size: 2.1rem;
  text-decoration: none;
  cursor: default;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */

  @media only screen and (max-width: 768px) {
    font-size: 1.8rem;
  }

  @media only screen and (max-width: 250px) {
    font-size: 0;
  }
}

.navbar__menu {
  z-index: 999;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 768px) {
    position: fixed;
    left: -100%;
    top: 4rem;
    flex-direction: column;
    background: var(--color-bg);
    width: 100%;
    text-align: center;
    transition: left 0.3s, color var(--default-delay), background var(--default-delay);
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-border);
    color: var(--color-fg);
    background: var(--color-bg);

    &.active {
      left: 0;
    }
  }
}

.navbar__item {
  list-style: none;
  float: right;

  @media only screen and (max-width: 768px) {
    margin: 0.5rem 0;
  }
}

.navbar__link {
  font-size: 18px;
  color: inherit;
  display: block;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;

  &:hover,
  &.active {
    color: var(--accent-color);
  }
}
