.hamburger {
  display: none;
}

.bar {
  background: var(--fg);
  display: block;
  border-radius: 6px;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.1s, background 0.1s;
}

@media only screen and (max-width: 768px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger_active {
    display: block;
    cursor: pointer;
  }

  .hamburger_active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger_active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger_active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
