.hamburger {
  display: none;
}

.bar {
  display: none;
}

@media only screen and (max-width: 768px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .bar {
    background: var(--color-fg);
    display: block;
    border-radius: 6px;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, color var(--default-delay),
      background var(--default-delay);
  }

  .hamburger.active {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
