.footer {
  font-size: 1rem;
  transition: border var(--default-delay);
  border-top: 1px solid var(--color-border);
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: auto;

  & a {
    color: inherit;
  }
  & a:hover {
    color: var(--accent-color);
  }
  & a:active {
    color: var(--accent-color);
  }
}
