.footer {
  font-size: 1rem;
  transition: border var(--default-delay);
  border-top: 1px solid var(--color-border);
  padding: 20px;
  margin-top: auto;

  & a {
    color: inherit;
  }

  & a:hover,
  & a:focus,
  & a:active {
    color: var(--accent-color);
  }
}
